@import "tailwindcss";
@plugin "daisyui";




@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

*{
  scroll-behavior: smooth;
}

body {
  @apply px-2 md:px-3 lg:px-20 xl:px-40 bg-slate-50
}

.overlay-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    253deg,
    rgba(255, 255, 255, 0) 11%,
    rgba(0, 0, 0, 1) 99%,
    rgba(17, 17, 17, 1) 100%
  );
}